<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   RemoteConfigDefaults.plist
   FirebaseProject

   Created by Omer Keskin on 30.07.2024.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>stringValue</key>
        <false/>
        <key>numberValue</key>
        <false/>
        <key>imageHidden</key>
        <false/>
    </dict>
</plist>
